<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PE Tracker</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
  </head>
  <body>
    <div id="main">
      <h1>PE Tracker</h1>

      <% obs.forEach(function(r) {%>
        <h2><%= r.name %></h2>

        <button onClick='javascript:start();'>
          Start
        </button>

        <button id='<%= r.id %>'
          onClick='javascript:logTask("<%= r.id %>");'>
          Stop
        </button>

        <div id="rank">
         
          <%= r.duration %>

        </div>
        
        <br>
      <% }); %>

    </div>

    <script>
      let currentTaskId = null;
      var startTime, endTime, seconds, ranking;
      var durationList = [];

      function start() {
        startTime = new Date();
      };

      function end(id) {
        endTime = new Date();
        var timeDiff = (endTime - startTime) / 1000;

        seconds = Math.round(timeDiff);

        durationList[id] = seconds;
        durationList.sort(function(a, b){return a - b});

        ranking = durationList.indexOf(durationList[id - 2]);

        // Reload page to show to newly tracked duration
        location.reload();
      }

      function resetTimes(r) {
        
      }

      const logTask = async function(id) {
        console.log("id: " + id)
        end(id);
        const response = await fetch('/log', { 
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: id,
            duration: seconds,
            ranking: ranking + 1
          })
        });
        const result = await response.json();
        console.log("index.ejs result: " + result);
        currentTaskId = id;
      }
    </script>
  </body>
</html>